* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/*______________*/

header {
  height: 100vh;
  background-image: url(./img/img.png);

  background-repeat: repeat-x;
  background-size: cover;
  text-align: center;
  color: white;
}

.site-nav {
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  position: fixed;
  top: 30px;
  background-color: #fff;
}

.logo {
  font-family: "Releway", sans-serif;
  font-weight: 800;
  color: #f0950e;
  font-size: 30px;
}

.nav-list {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
}

.nav-link {
  font-family: "Open sans", sans-serif;
  font-size: 12px;
  color: #7e7c7e;
  transition: 0.6s;
  position: relative;
  padding: 5px;
}

.nav-link:hover {
  color: #303030;
  font-size: 16px;
}

.nav-link:hover::after {
  content: "";
  display: intine-block;
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
}

.main-title {
  padding-top: 300px;
  font-size: 55px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  margin-bottom: 18px;
  color: white;
}

.intro {
  font-family: "Open sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 21px;
}
.section-header {
  font-size: 28px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-align: center;
  color: orange;
  padding-top: 60px;
  margin-bottom: 32px;
}

.section-header::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #babdc1;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.section-header::after {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #babdc1;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.features-item::before {
  content: "";
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  position: relative;
  left: -50px;
  top: 30px;
  padding-right: 30px;
}

.features-item:nth-of-type(1)::before {
  background-image: url(./img/workgroup_25135.png);
}
.features-item:nth-of-type(2)::before {
  background-image: url(./img/recycle-bin-empty_25192.png);
}
.features-item:nth-of-type(3)::before {
  background-image: url(./img/network-service_25137.png);
}
.features-item:nth-of-type(4)::before {
  background-image: url(./img/my-network-places_25134.png);
}
.features-item:nth-of-type(5)::before {
  background-image: url(./img/internet-document_25151.png);
}
.features-item:nth-of-type(6)::before {
  background-image: url(./img/floppy-driver3_25181.png);
}

.features-item-header {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 18px;
}
.features-item-text {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.features-intro-text {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

.features-list {
  height: 550px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.features-item {
  width: 300px;
  margin-bottom: 50px;
  padding-left: 50px;
}

.video-section{
  background-color: #1900ff;
}

.container{
  display: block;
  margin: 0 auto;
  width: 93%;

}

.flex-box{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 450px;
  justify-content: space-around;

}

.video-title{
  font-family: 'Raleway',sans-serif;
  font-weight: bold;
  color: aquamarine;
  font-size: large;
  line-height: 18px;
  text-align: left;
  padding-top: 85px;
  text-transform: uppercase;
}

.video-intro{
  font-family: 'Open Sans',sans-serif;
  text-align: left;
  color: #f0950e;
  margin: 0;
  width: 48%;
  font-size: x-large;
  line-height: 26px;
  border: #fff;
  padding: 45px

}

.ceo-section{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.ceo{
  width: 100px;
  margin-bottom: 50px;
  font-family: 'Open Sans',sans-serif;
  font-size: 18px;
  line-height: 24px;

}

.ceo-photo{
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
border-radius: 5%;
}

.ceo-name{
  text-align: center;
  font-weight: 600;

}

.ceo-info{
  text-align: center;
  font-size: 13px;
  color: #b5b5b5;

}

.ceo-quote{
  text-align: center;
  width: 80%;
  margin: 20px;
  margin-bottom: 50px;
  position: relative;
  font-family: 'Open Sans',sans-serif;
  font-size: 18px;
  line-height: 36px;
  color: #282528;

}

.ceo-quote::before{
  content: '"';
  width: 14%;
  height: 15%;
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 13%;
  position: absolute;
  top: 20px;
  left: -45px;
  color: #babdc175;

}

.team-intro{
  font-family:"Open Sans",sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 35px;

}

.team-list{
  width: 92%;
  margin: auto;

}

.team-member{
  position: relative;
  width: 270px;

}

.member-name{
  font-family: "Open Sans",sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  transition:0.6s;

}

.member-position{
  font-family: "Open Sans",sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-align: left;

}

.member-photo{
  width: 270px;
  height: auto;
  display: block;
  margin: auto;

}

.overflow{
  width: 270px;
  height: 300px;
  overflow: hidden;

}

.hover-box{
  display: none;
  width:270px ;
  height: 300px;
  background-color: orange;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.6s;
  z-index: 1;

}

.team-member:hover .hover-box{
  display: block;
  box-shadow: orangered;
  box-shadow: 0px 0px 17px #1ab798;

}

.team-member:hover .member-name{
  color: #1ab798;
  font-size: 24px;

}

.quote{
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: white;
  text-align: center;
  padding: 20px;
  margin-bottom: 40%;

}

.social-links{
  display: flex;
  justify-content: center;

}

.member-social-link{
  display: inline-block;
  width: 43px;
  height: 42px;
  margin: 4px;
  background-color: #4b4b4bab;
  background-image: url(./img/facebook_icon-icons.com_53612.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 5px;

}

.member-social-link:nth-of-ype(2){
  background-image: url(./img/sociallinkedin_member_70.png);

}

.member-social-link:nth-of-ype(3){
  background-image: url(./img/twitter_socialnetwork_20007.png);

}

.team-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 80px;
  padding: 0;
}
